@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">

        <div class="card shadow p-4">

            <h2 class="fw-bold text-center mb-4">Change Password</h2>

            @if (ViewBag.Message != null)
            {
                <div class="alert alert-success text-center">@ViewBag.Message</div>
            }

            <form method="post">

                <div asp-validation-summary="All" class="text-danger mb-3"></div>

                <div class="mb-3">
                    <label>Current Password</label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>New Password</label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                </div>

                <div class="mb-3">
                    <label>Confirm Password</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                </div>

                <button class="btn btn-primary w-100 btn-lg">Change Password</button>

            </form>

        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
